@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply h-full w-full;
}

#root {
  padding: 0px;
  margin: 0px;
  width: "100%";
  height: "100%";
}

.default-icon {
  @apply w-5 h-5;
}
